---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: ghcr.io/prefeitura-rio/superapp:latest
          envFrom:
            - secretRef:
                name: app-secrets
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/health
              port: http
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/health
              port: http
            initialDelaySeconds: 0
            periodSeconds: 2
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 2
          startupProbe:
            httpGet:
              path: /api/health
              port: http
            initialDelaySeconds: 0
            periodSeconds: 2
            timeoutSeconds: 2
            failureThreshold: 15
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 2000m
              memory: 4Gi
      restartPolicy: Always

---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: app-pdb
spec:
  minAvailable: 3
  selector:
    matchLabels:
      app: app

---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: app-scaled-object
spec:
  scaleTargetRef:
    name: app
  minReplicaCount: 3
  maxReplicaCount: 20
  cooldownPeriod: 30
  pollingInterval: 5
  fallback:
    failureThreshold: 3
    replicas: 3
  advanced:
    horizontalPodAutoscalerConfig:
      behavior:
        scaleUp:
          stabilizationWindowSeconds: 0
          policies:
            - type: Percent
              value: 100
              periodSeconds: 10
            - type: Pods
              value: 4
              periodSeconds: 10
          selectPolicy: Max
        scaleDown:
          stabilizationWindowSeconds: 300
          policies:
            - type: Percent
              value: 10
              periodSeconds: 60
            - type: Pods
              value: 1
              periodSeconds: 60
          selectPolicy: Max
  triggers:
    - type: prometheus
      metadata:
        serverAddress: http://prometheus.istio-system.svc.cluster.local:9090
        metricName: http_requests_total
        threshold: "75"
        query: sum(rate(istio_requests_total{destination_workload="app"}[30s]))
        activationThreshold: "25"

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: app
  name: app
spec:
  ports:
    - name: "80"
      port: 80
      targetPort: 3000
  selector:
    app: app
